@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Open+Sans:400,700,300);
/*- RESET ----------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,
summary,time,mark,audio,video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display: block; }
body { line-height: 1; }
ol,ul { list-style: none; }
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,
q:before,q:after { content: ''; content: none; }
:focus { outline: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; }
* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

/*- TYPOGRAPHY ----------------------------------- */
body {
  font-family: 'Droid Serif', serif;
  color: #333332;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5 {
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 5px;
}
h1 { 
  font-size: 36px;
  line-height: 50px;
}
h2, h3, h4, h5 {
  font-size: 20px;
  line-height: 24px;
}
p {
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 35px;
}
a, a:visited, a:active {
  color: #D25437;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
}
a:hover {
  color: #333332;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
}
em { 
  font-style: italic;
}
strong {
  font-weight: bold;
}
article.post ul, article.post ol {
  font-size: 20px;
  margin: 0 0 35px 40px;
}
article.post ul {
  list-style: disc;
}
article.post ol {
  list-style: decimal;
}
article.post li {
  line-height: 30px;
}
article.post blockquote {
  color: #999999;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  padding: 0 20px 0 36px;
  margin-bottom: 35px;
  border-left: 4px solid #CCCCCC;
}

/*- BUTTONS ----------------------------------*/
.button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  height: 45px;
  padding: 0 27px;
  border: 0;
  font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  -webkit-transition: background-color .25s ease;
  -moz-transition: background-color .25s ease;
  -ms-transition: background-color .25s ease;
  -o-transition: background-color .25s ease;
  transition: background-color .25s ease;
  vertical-align: bottom;
  color: #FFFFFF !important;
  background-color: #00ACED;
  position: relative;
  left: 50%;
  margin-left: -78px;
}
.button:hover {
  background-color: #00A5E3;
  color: #F5F5F5;
}
.button:before {
  display: block;
  content: '';
  float: left;
  height: 19px;
  width: 23px;
  background: url('../img/twitter-bird.png') no-repeat center center;
  position: relative;
  top: 50%;
  margin: -9px 10px 0 0;
}

/*- LAYOUT ----------------------------------- */
.wrap {
  width: 960px;
  margin: 0 auto;
}
.wrap.post {
  padding: 0 120px;
}
.wrap:after {
  content: "";
  display: table;
  clear: both;
}
.resize {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 80px;
  background: url('../img/resize.png');
}

/*- HEADER ----------------------------------- */
header.site-header {
  padding: 20px 0;
  border-bottom: 1px solid #EEEEEE;
}
header.site-header a.menu {
  display: none;
}
header.site-header hgroup h1, header.site-header nav ul {
  font-family: 'Open Sans', sans-serif;
}
header.site-header hgroup {
  float: left;
}
header.site-header hgroup h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
header.site-header hgroup h1 a {
  color: #333332;
}
header.site-header hgroup h1 a:hover {
  color: #D25437;
}
header.site-header nav {
  float: right;
  display: block;
}
header.site-header nav ul li {
  font-size: 14px;
  display: inline;
  font-weight: 300;
  margin-left: 20px;
}
header.site-header nav ul li a {
  color: #999999;
}
header.site-header nav ul li a:hover,
header.site-header nav ul li a.active {
  color: #333332;
}

/*- ARTICLE ----------------------------------- */
section.article {
  position: relative;
  margin-bottom: 50px;
}
section.archive {
  margin-top: 50px;
}
section.archive ol.post-list {
  margin-top: 25px;
}
section.archive ol.post-list li {
  margin-bottom: 10px;
}
section.archive ol.post-list li span, section.archive ol.post-list li span time {
  font-size: 12px;
  vertical-align: top;
  line-height: 100%;
}
section.article img.loading {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -12px;
  z-index: 10;
}
section.article div.overlay {
  background-color: #333332;
  width: 100%;
  height: 530px;
  border-bottom: 1px solid #DDDDDD;
  position: absolute;
  top: 0;
}
section.article div.featured-image {
  vertical-align: middle;
  height: 530px;
  width: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
section.article article.post header.post-header {
  height: 530px;
  position: relative;
  margin-bottom: 35px;
}
section.article article.post header.post-header hgroup {
  color: #FFFFFF;
  position: absolute;
  bottom: 35px;
  width: 100%;
}
section.article article.post header.post-header hgroup p.category {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #999999;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,.3);
  margin-bottom: 15px;
}
section.article article.post header.post-header hgroup h1 {
  margin-bottom: 15px;
  letter-spacing: -1px;
}
section.article article.post header.post-header hgroup p.lead {
  font-size: 24px;
  font-style: italic;
  line-height: 36px;
  margin-bottom: 0;
}
section.article article.post figure {
  margin: 35px 0;
}
section.article article.post figure figcaption {
  font-size: 12px;
  font-style: italic;
}
section.article article.post figure img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
section.article article.post p.meta {
  color: #999999;
  font-style: italic;
  font-size: 16px;
}
section.article article.post .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin-bottom: 35px;
}

section.article article.post .video-container iframe,
section.article article.post .video-container object,
section.article article.post .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*- FOOTER ----------------------------------- */
footer {
  background-color: #333332;
  padding: 30px 0;
  color: #FFFFFF;
}
footer p.category {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #999999;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,.3);
  margin-bottom: 35px;
}
footer ol.previous-posts li {
  line-height: 30px;
  margin-bottom: 15px;
}
footer ol.previous-posts li:after {
  content: '';
  display: table;
  clear: both;
}
footer ol.previous-posts li h2 {
  float: left;
  max-width: 460px;
}
footer ol.previous-posts li h2 a {
  color: #FFFFFF;
}
footer ol.previous-posts li h2 a:hover {
  color: #D25437;
}
footer ol.previous-posts li span.date {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #999999;
  float: right;
  text-align: right;
}
div.sub-footer p {
  font-size: 11px;
}

/*- MEDIA QUERIES ----------------------------------- */
@media only screen and (max-width : 960px) {
  .wrap {
    width: 100%;
  }
  .wrap.post {
    padding: 0 7%;
  }
  header.site-header {
    padding: 20px 7%;
  }
  footer ol.previous-posts li h2, footer ol.previous-posts li span.date {
    float: none;
  }
}

@media only screen and (max-width : 680px) {
  section.article img.loading {
    top: 10px !important;
    left: inherit;
    right: 6%;
  }
  section.article div.overlay {
    background-color: #333332;
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #DDDDDD;
    position: absolute;
    top: 0;
  }
  section.article div.featured-image, section.article article.post header.post-header {
    min-height: 250px;
    height: auto;
  }
  section.article article.post header.post-header hgroup {
    position: static;
    padding: 20px 0;
  }
  article.post header.post-header hgroup h1 {
    font-size: 28px !important;
  }
  article.post header.post-header hgroup p.category {
    font-size: 12px !important;
  }
  article.post p, article.post ul, article.post ol {
    font-size: 16px !important;
    line-height: 24px !important;
    margin-bottom: 27px;
  }
  article.post ul, article.post ol {
    margin-left: 30px;
  }
  article.post li {
    line-height: 24px !important;
  }
  article.post p.lead, article.post blockquote {
    font-size: 20px !important;
  }
  article.post blockquote {
    padding-left: 20px;
    line-height: 28px;
  }
  header.site-header {
    min-height: 59px;
  }
  header.site-header hgroup {
    float: none;
    position: absolute;
    left: 7%;
  }
  header.site-header a.menu {
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 7%;
    float: right;
  }
  header.site-header a.menu img {
    height: 16px;
    width: 16px;
  }
  header.site-header nav {
    display: none;
    float: none;
    width: 100%;
  }
  header.site-header nav:before {
    content: '';
    display: table;
    clear: both;
  }
  header.site-header nav ul {
    padding: 45px 0 10px 0;
  }
  header.site-header nav ul li {
    display: block;
    font-size: 24px;
    margin-left: 0;
    border-top: 1px solid #DDDDDD;
  }
  header.site-header nav ul li a {
    color: #333332;
    display: block;
    width: 100%;
    padding: 15px 0;
  }
  header.site-header nav ul li a:active {
    background-color: #D25437;
    color: #FFFFFF;
  }
  .sub-footer p {
    line-height: 145%;
    margin-top: 10px;
  }
}







